<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="apps.pixel.al.egykey">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".utilities.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activites.relatedToBasket.MyOrdersActivity"></activity>
        <activity android:name=".activites.relatedToBasket.ViewOrderActivity" />
        <activity android:name=".activites.relatedToBasket.CheckoutActivity" />
        <activity android:name=".activites.relatedToBasket.AddressActivity" />
        <activity android:name=".activites.relatedToBasket.OrderDetailsActivity" />
        <activity android:name=".activites.relatedToBasket.subDetails.ViewSelectedItemActivity"
            android:parentActivityName=".activites.HomeActivity"/>
        <activity android:name=".activites.HomeActivity" />
        <activity
            android:name=".activites.hotels.HotelsActivity"
            android:parentActivityName=".activites.HomeActivity" />
        <activity
            android:name=".activites.CateagoriesActivity"
            android:parentActivityName=".activites.HomeActivity" />
        <activity android:name=".activites.beautyAndHealth.SelectedDepartmentActivity" />
        <activity android:name=".activites.beautyAndHealth.BeautyAndHealthActivty" />
        <activity android:name=".activites.SettingsActivity" />
        <activity android:name=".activites.retaurant.SortByActivity" />
        <activity android:name=".activites.beforeHome.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activites.beforeHome.VerficationActivity"
            android:theme="@style/BeforeHome" />
        <activity
            android:name=".activites.beforeHome.ForgetPasswordActivity"
            android:parentActivityName=".activites.beforeHome.SignInActivity"
            android:theme="@style/BeforeHome" />
        <activity
            android:name=".activites.beforeHome.SignUpActivity"
            android:parentActivityName=".activites.beforeHome.SignInActivity"
            android:theme="@style/BeforeHome" />
        <activity
            android:name=".activites.beforeHome.SignInActivity"
            android:theme="@style/BeforeHome" />
        <activity android:name=".activites.retaurant.galleryActivity.GalleryActivity" /> <!-- android:parentActivityName=".activites.retaurant.selectedRestaurant.SelectedRestaurantActivity" -->
        <activity
            android:name=".activites.retaurant.ShareWebViewActivity"
            android:parentActivityName=".activites.retaurant.selectedRestaurant.SelectedItemKotlinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activites.retaurant.OpenPdfActivity"
            android:parentActivityName=".activites.retaurant.selectedRestaurant.SelectedItemKotlinActivity" />
        <activity
            android:name=".activites.retaurant.jobs.ApplicationJobActivity"
            android:parentActivityName=".activites.retaurant.jobs.jobDetails.SelectedJobActivity" />
        <activity
            android:name=".activites.retaurant.jobs.jobDetails.SelectedJobActivity"
            android:parentActivityName=".activites.retaurant.restaurants.SelectedCateagoryActivity" />
        <activity
            android:name=".activites.retaurant.videoActivity.VideoRestuarantActivity"
            android:parentActivityName=".activites.retaurant.selectedRestaurant.SelectedItemKotlinActivity"
            android:screenOrientation="behind"
            android:windowSoftInputMode="stateHidden|adjustResize" /> <!-- android:configChanges="orientation|screenSize|layoutDirection" -->
        <activity
            android:name=".activites.retaurant.selectedRestaurant.SelectedItemKotlinActivity"
            android:parentActivityName=".activites.retaurant.restaurants.SelectedCateagoryActivity" />
        <activity
            android:name=".activites.retaurant.restaurants.SelectedCateagoryActivity"
            android:parentActivityName=".activites.HomeActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>